.navbar-brand {
    color: #f15a29 !important;
    font-weight:bold;
}

.nav-item.active > a {
    color: white !important;
}

.nav-item.active {
    background-color: #f15a29 !important;
    border-radius: 11px;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.navbar-nav > li {
    margin-right: 3px !important;
}

.nav-item:not(.active) > a:hover,
.dropdown-item:hover:not(.active),
.dropdown-item a:hover:not(.active) {
    color: #f15a29 !important;
    transform: scale(1.02);
    transition-duration: 0.3s !important;
}

.btn-signup {
    color: white !important;
    background-color: #f15a29 !important;
    border-radius: 11px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #f15a29 !important;
}

div.main {
    min-height: calc(100vh - 320px);
}

.footer-website-title {
    color: #f15a29 !important;
    font-weight:bold;
    font-size: x-large;
    margin-left: 9px;
}